[Unit]
Description=Data collection agent - CDLOG
After=network.target

[Service]
Type=simple
ExecStart="/etc/cdlog/cdlog"
Restart=always
User=root
Group=root
WorkingDirectory=/etc/cdlog
Environment="CONFIG_FILE=/etc/cdlog/cdlog.conf"

[Install]
WantedBy=multi-user.target
