[Unit]
Description=Your Python Agent
After=network.target

[Service]
Type=simple
ExecStart="/home/ofek/dist/cdlog"
Restart=always
User=ofek
Group=ofek
WorkingDirectory=/home/ofek
Environment="CONFIG_FILE=/home/ofek/dist/cdlog.conf"

[Install]
WantedBy=multi-user.target
